/* sidebar.component.css */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #343a40;
    padding-top: 20px;
    transition: transform 0.3s ease;
    transform: translateX(-100%); /* Initially hidden */
    z-index: 1000;
}

.sidebar.active {
    transform: translateX(0); /* Show when active */
}

.sidebar-item {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.sidebar-item:hover {
    background-color: #000000; /* Hover effect */
}

/* sidebar.component.css */
@media (max-width: 768px) {
    #sidebar {
        position: absolute; /* Change to absolute on smaller screens */
        z-index: 1000;
        transform: translateX(-100%); /* Hide sidebar */
        transition: transform 0.3s ease; /* Smooth transition */
    }
    
    #sidebar.active {
        transform: translateX(0); /* Show sidebar */
    }
}
