<div class="d-flex flex-column flex-shrink-0 p-3 bg-light side" style="width: 250px; height: 100vh;">
    <div class="sidebar-heading text-center py-3 bg-dark text-white">Brand</div>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link  text-white" aria-current="page">
                <i class="bi bi-house-door me-2"></i>
                Charles & Keith
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="bi bi-person me-2"></i>
                Pedro
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="bi bi-gear me-2"></i>
                Pomelo
            </a>
        </li>
    </ul>
</div>
